<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ApplyLookAll</servlet-name>
        <servlet-class>test.ApplyLookAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyContiLookAll</servlet-name>
        <servlet-class>test.ApplyContiLookAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NumcontiServlet</servlet-name>
        <servlet-class>servlet.NumcontiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NumcontiServlet</servlet-name>
        <url-pattern>/NumcontiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NumcontiInitServlet</servlet-name>
        <servlet-class>servlet.NumcontiInitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NumcontiInitServlet</servlet-name>
        <url-pattern>/NumcontiInitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NumcontiSaveServlet</servlet-name>
        <servlet-class>servlet.NumcontiSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NumcontiSaveServlet</servlet-name>
        <url-pattern>/NumcontiSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NumcontiDelServlet</servlet-name>
        <servlet-class>servlet.NumcontiDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NumcontiDelServlet</servlet-name>
        <url-pattern>/NumcontiDelServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImgToB64</servlet-name>
        <servlet-class>test.ImgToB64</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImgSave</servlet-name>
        <servlet-class>test.ImgSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoSql</servlet-name>
        <servlet-class>test.DoSql</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoBase64</servlet-name>
        <servlet-class>test.DoBase64</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Audit</servlet-name>
        <servlet-class>test.Audit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuditConti</servlet-name>
        <servlet-class>test.AuditConti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAudit</servlet-name>
        <servlet-class>test.doAudit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAuditConti</servlet-name>
        <servlet-class>test.doAuditConti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyConti</servlet-name>
        <servlet-class>test.ApplyConti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apply</servlet-name>
        <servlet-class>test.Apply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImgSaveConti</servlet-name>
        <servlet-class>test.ImgSaveConti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>test.check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkConti</servlet-name>
        <servlet-class>test.checkConti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoBase64Conti</servlet-name>
        <servlet-class>test.DoBase64Conti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyLook</servlet-name>
        <servlet-class>test.ApplyLook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyContiLook</servlet-name>
        <servlet-class>test.ApplyContiLook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuHaoLook</servlet-name>
        <servlet-class>test.BuHaoLook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuHaoContiLook</servlet-name>
        <servlet-class>test.BuHaoContiLook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImgToB64</servlet-name>
        <url-pattern>/ImgToB64</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImgSave</servlet-name>
        <url-pattern>/ImgSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoSql</servlet-name>
        <url-pattern>/DoSql</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoBase64</servlet-name>
        <url-pattern>/DoBase64</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Audit</servlet-name>
        <url-pattern>/Audit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuditConti</servlet-name>
        <url-pattern>/AuditConti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAudit</servlet-name>
        <url-pattern>/doAudit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAuditConti</servlet-name>
        <url-pattern>/doAuditConti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyConti</servlet-name>
        <url-pattern>/ApplyConti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apply</servlet-name>
        <url-pattern>/Apply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImgSaveConti</servlet-name>
        <url-pattern>/ImgSaveConti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkConti</servlet-name>
        <url-pattern>/checkConti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoBase64Conti</servlet-name>
        <url-pattern>/DoBase64Conti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyLook</servlet-name>
        <url-pattern>/ApplyLook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyContiLook</servlet-name>
        <url-pattern>/ApplyContiLook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuHaoLook</servlet-name>
        <url-pattern>/BuHaoLook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuHaoContiLook</servlet-name>
        <url-pattern>/BuHaoContiLook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyLookAll</servlet-name>
        <url-pattern>/ApplyLookAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyContiLookAll</servlet-name>
        <url-pattern>/ApplyContiLookAll</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
